<!doctype html>
<html lang='en' ng-app='blackInkApp' ng-csp>
    <head>
        <title>BlackInk Little - Options</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link type="text/css" rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/OptionsTab/options.css">
        <link type="text/css" rel="stylesheet" href="/css/switch.css">
    </head>

    <body ng-controller='BlackInkOptionsCtrl'>
        <div class="container-fluid">
            <div class="row">
                <div class="coll-xs-12">
                    <div class="jumbotron" role='banner'>
                        <h1><img src='/images/logos/32.png' style='width:46px; height:46px; margin-bottom: 8px;' class='shadow'/>
                        BlackInk Little</h1>
                        <h2>Aren't you tired of low-contrast pages using gray ink for text?!</h2>
                        <h2 style="display:inline;">{{version}}</h2>
                        <div style='display:inline; float: right;'>
                            <input type="image" class='toolbarBtn' id='Share' alt='Share' title='Share on Facebook' src='/images/fShare.png' ng-click='fShare()' />
                            <input type="image" class='toolbarBtn' id='Refresh' alt='Refresh' title='Clear Settings' src='/images/Refresh.png' ng-click='refresh()' />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form id='form'>
                    <div class="col-sm-6 col-md-6">
                        <legend>Enhance text contrast for bad web pages</legend>
                        <p>Select your options for text color and weight, then click the switch to change the main dominant text on the page.<br/>
                        Use <myKey>ctrl</myKey>+<myKey>shift</myKey>+<myKey>F1</myKey> to switch without opening the extension the second time.
                        </p>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <h2>Options</h2>
                        
                            <div id='options' class='roundBorder' ng-hide="errorMessage!=''">
                                <table role='presentation'>
                                    <tr>
                                        <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Color</td>
                                        <td>
                                            <input type="radio" name="color" id="clBlack" ng-model="InkColor" value="black"/>
                                            <label for="clBlack">Black</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="color" id="clBlue" ng-model="InkColor" value="navy"/>
                                            <label for="clBlue">Blue</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="color" id="clRed" ng-model="InkColor" value="#b60000"/>
                                            <label for="clRed">Red</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Weight</td>
                                        <td>
                                            <input type="radio" name="weight" id="wNone" ng-model="TextWeight" value=""/>
                                            <label for="wNone">Default</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="weight" id="wNormal" ng-model="TextWeight" value="normal"/>
                                            <label for="wNormal">Normal</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="weight" id="wBold" ng-model="TextWeight" value="bold"/>
                                            <label for="wBold">Bold</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <div class="row">
                            <div 
                                id='error' 
                                class='col-sm-12 col-md-12' 
                                ng-show="errorMessage!=''"
                                ng-click="closeExtension()">
                                {{errorMessage}}
                            </div>           
                        </div> 
                    </div>
                </form>
            </div>

            <!-- <script type="text/javascript" src="/inc/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="/inc/js/options.js"></script> -->
            <script type="text/javascript" src="/app/utils.js"></script>
            <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
            <script type="text/javascript" src="/app/app.js"></script>
            <script type="text/javascript" src="/app/storageService.js"></script>
            <script type="text/javascript" src="/app/tabService.js"></script>
            <script type="text/javascript" src="/app/OptionsCtrl.js"></script>

        </div>
    </body>
</html>