<!DOCTYPE html>
<html lang='en' ng-app='blackInkApp' ng-csp>

<head>
    <title>Black Ink</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300" rel="stylesheet">
    <link href='/css/popup.css' rel='stylesheet'>
    <link href='/css/switch.css' rel='stylesheet'>
    <!-- <script src="/lib/googleMapApi/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> --> 
</head>

<body ng-controller='BlackInkCtrl'>
    <form id='form'>
        <div class='header lightgray' role='banner'>
            <img src='/images/logos/32.png' style='width:32px; height:32px;' class='shadow'/>
            <h1>Black Ink</h1>
            <input type="image" id='closeBtn' class='toolbarBtn' alt='Close' title='Close [esc]' 
            src='/images/X.png' ng-click='closeExtension()'>
        </div>
        <div id='toolbar' class='roundBorder shadow'>
            <input type="image" class='toolbarBtn' id='Share' alt='Share' title='Share on Facebook' src='/images/fShare.png' ng-click='fShare()' />
            <input type="image" class='toolbarBtn' id='pickBtn' alt='Pick' title='Pick Elements' src='/images/pick-color.png' ng-click='pickElements()' ng-hide="errorMessage!=''"/>
            <!-- <input type="image" class='toolbarBtn' ng-disabled='UndoDis' id='undoBtn' alt='Undo' title='Undo [^z]' src='/images/undo.png'/>
            <input type="image" class='toolbarBtn' ng-disabled='RedoDis' id='redoBtn' alt='Redo' title='Redo [^y]' src='/images/redo.png'/> -->
            <input type="image" class='toolbarBtn' id='optionsBtn' alt='Help' title='{{helpTooltip}}' src='/images/help.png' ng-click='toggleShowHelp()'/>
        </div>
        <div id='help' class='roundBorder' style='display:{{ShowHelp}};'>
            <h2>Enhance text contrast for bad web pages</h2>
            <h3>(Don't you hate when they use gray ink for text?!)</h3>
            <p>Select your options bellow for text color and weght, then click the switch to change the main dominant text on the page.<br/>
            Use <myKey>ctrl</myKey>+<myKey>shift</myKey>+<myKey>f1</myKey> to switch without opening the extension the second time.
            </p>
            <p>Select your options for night filter, then click the switch to change the color temperature of the whole page.<br />
            Use <myKey>ctrl</myKey>+<myKey>shift</myKey>+<myKey>f2</myKey> to switch without opening again the extension.
            </p>
            <p>Auto and Pick Elements - work in progress.</p>
        </div>
        <div id='options' class='roundBorder' ng-hide="errorMessage!=''">
            <table role='presentation'>
                <tr>
                    <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Color</td>
                    <td>
                        <input type="radio" name="color" id="clBlack" ng-model="InkColor" value="black"/>
                        <label for="clBlack">Black</label>
                    </td>
                    <td>
                        <input type="radio" name="color" id="clBlue" ng-model="InkColor" value="navy"/>
                        <label for="clBlue">Blue</label>
                    </td>
                    <td>
                        <input type="radio" name="color" id="clRed" ng-model="InkColor" value="#b60000"/>
                        <label for="clRed">Red</label>
                    </td>
                    <td class='right'>
                        <label class="switch green"><input type="checkbox" ng-click="apply()" ng-model="applyCss"><i></i></label>
                        <!-- <input type="button" ng-click="apply()" Value="Apply"/> -->
                    </td>
                </tr>
                <tr>
                    <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Weight</td>
                    <td>
                        <input type="radio" name="weight" id="wNone" ng-model="TextWeight" value=""/>
                        <label for="wNone">Default</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" id="wNormal" ng-model="TextWeight" value="normal"/>
                        <label for="wNormal">Normal</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" id="wBold" ng-model="TextWeight" value="bold"/>
                        <label for="wBold">Bold</label>
                    </td>
                </tr>
            </table>
        </div>
        <div id='auto' class='roundBorder' ng-hide="errorMessage!=''">
            <table role='presentation'>
                <tr>
                    <td class='right'>
                        <label>Night mode:</label>
                    </td>
                    <td>
                        <label><input type="radio" name="nightMode" ng-model="NightMode" value="pink"/>Pink</label>
                    </td>
                    <td>
                        <label><input type="radio" name="nightMode" ng-model="NightMode" value="black"/>Invert</label>
                    </td>
                    <td class='right'>
                        <label class="switch {{NightMode}}"><input type="checkbox" ng-click="nightMode()" ng-model="nightOn"><i></i></label>
                    </td>
                </tr>
                <tr>
<!--                     <td class='right'>
                        <label class="switch red">Auto:<input type="checkbox" ng-model="NightAuto"><i></i></label>
                    </td>
 -->                    <!-- <td colspan='2' style="text-align: end;">
                        <label for='myLocation'>Location and Sun Data</label>
                        <input type="image" id='myLocation' src='/images/MyLocation.16.png' class='toolbarBtn' ng-click='ShowLocation = !ShowLocation'>
                    </td> -->
                </tr>
            </table>
        </div>
        <div id='location' class='roundBorder' ng-class='{lightgray: isNightTime}' ng-hide="errorMessage!=''" style='display:{{ShowHelp}};'>
            <table id="location">
                <tr>
                    <td>Latitude:</td>
                    <th>{{Latitude | number : 4}}</th>
                    <td class='right'>
                        <label class="switch red">Auto:<input type="checkbox" ng-model="NightAuto"><i></i></label>
                    </td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <th>{{Longitude | number : 4}}</th>
                </tr>
                <tr>
                    <td>Sunrise:</td>
                    <th>{{Sunrise | date:'h:mm:ss a' | lowercase}}</th>
                </tr>
                <tr>
                    <td>Sunset:</td>
                    <th>{{Sunset | date:'h:mm:ss a' | lowercase}}</th>
                </tr>
            </table>                
        </div>
        <div 
            id='error' 
            class='roundBorder' 
            ng-show="errorMessage!=''"
            ng-click="closeExtension()">
            {{errorMessage}}
        </div>
    </form>

    <script type="text/javascript" src="/app/utils.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/storageService.js"></script>
    <script type="text/javascript" src="/app/locationService.js"></script>
    <script type="text/javascript" src="/app/tabService.js"></script>
    <script type="text/javascript" src="/app/sunriseService.js"></script>
    <script type="text/javascript" src="/app/ctrl.js"></script>

</body>
 
</html>