* {
	-webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body {
	background-color: white;
}

.AccessAuditMarker {
/*	
	background:pink;
	-webkit-filter: url('#pinkish') drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 4px red);
*/
	background:lightblue;
	-webkit-filter: url('#blueish');
	box-shadow: blue 0px 0px 10px 0px;
}

.AccessAuditHighlight {
	---webkit-filter: drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 4px red);
	box-shadow: red 0px 0px 10px 0px;
}

.blackInkHide {
	display:none !important;
}

/*.InvertVision, 
.InvertVision img, 
.InvertVision video
{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
	filter: invert(100%);
	background-color: white;
}*/

/*.normalFilter {
	-webkit-filter: url(#normalMatrix);
	   -moz-filter: url(#normalMatrix);
	    -ms-filter: url(#normalMatrix);
	     -o-filter: url(#normalMatrix);
	        filter: url(#normalMatrix); 
}*/



/*.blackFilter, 
.blackFilter img, 
.blackFilter video {
	-webkit-filter: url(#invertMatrix);
	   -moz-filter: url(#invertMatrix);
	    -ms-filter: url(#invertMatrix);
	     -o-filter: url(#invertMatrix);
	        filter: url(#invertMatrix); 
}*/
/*.sepiaFilter {
	-webkit-filter: url(#sepiaMatrix);
	   -moz-filter: url(#sepiaMatrix);
	    -ms-filter: url(#sepiaMatrix);
	     -o-filter: url(#sepiaMatrix);
	        filter: url(#sepiaMatrix); 
}*/
/*.pinkFilter {
	-webkit-filter: url(#pinkMatrix);
	   -moz-filter: url(#pinkMatrix);
	    -ms-filter: url(#pinkMatrix);
	     -o-filter: url(#pinkMatrix);
	        filter: url(#pinkMatrix); 
}*/

